<h3>Profile Lists</h3>
<ol class="profileList">
    {{#each Items}}
        <li>
        <p>User Name: {{UserName}}<br/>
        User Role: {{Role}}<br/>
        Team Name: {{TeamName}}<br/>
        Level Of Play: {{Level}}<br/>
        Signed up for Newsletter:{{IsSignedUp}}</p>
        </li>
    {{/each}}
</ol>
